/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#ABOUT US
#EXPERIENCE
#SKILLS
#EDUCATION
#CONTACT US
#FOOTER
#RESPONSIVE STYLE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

.text{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right: 4px solid white;
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
}
.animation{
	animation: typewriter 4s steps(15) 1s 1 normal both,
			   blinkCursor 500ms steps(15) infinite normal;
  }
@keyframes typewriter {
	from {
	  width: 0;
	}
	to {
	  width: 280px;
	}
  }
@keyframes blinkCursor{
	from {
	  border-right-color: white;
	}
	to {
	  border-right-color: transparent;
	}
  }
body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}


/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 12px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
}

.mu-send-msg-btn {
	color: #555;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 250px;
	color: #fff;
	border-radius: 5px;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}



/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-hero {
	background-image: url("assets/images/head-featured-bg.jpg");
	display: inline;
	float: left;
	width: 100%;
	
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.mu-hero-overlay {
	display: inline;
	float: left;
	opacity: 0.8;
	width: 100%;
	
}

.mu-logo {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 600;
	/*background: #fff;*/
	padding: 5px 20px;
	margin-bottom: 30px;
}


.mu-menu-btn {
	position: fixed;
	right: 15%;
	top: 50px;
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 999;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
	border: 2px solid #fff;
}



/*=== Featured section ===*/

.mu-hero-featured-area {
	display: inline;
	float: left;
	padding: 60px 0 150px;
	width: 100%;
	margin-top: 150px;
}

.mu-hero-featured-content {
	margin-top: 350px;
	display: inline;
	float: right;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.mu-hero-featured-content h1 {
	
	font-size: 45px;
	color: white;
	font-weight: 300;
	margin-bottom: 15px;
}


.mu-hero-featured-content h2 {
	color: white;
	font-size: 25px;
	font-weight: 300;
}

.mu-greeting {
	background-color: #fff;
	color: #333;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	font-weight: 600;
}

.mu-greeting-area {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}


#mu-welcome-counter {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}

/*--------------------*/
/* MENU */
/*--------------------*/

#mu-hero .navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
	padding: 5px 0;
}

.mu-navbar {
	top: -150px;
	transition: all 0.5s;
}

.mu-nav-show {
	top: 0px;
}

#mu-hero .navbar-default .navbar-brand {
	padding: 15px 15px;
	font-size: 28px;
	line-height: 20px;
}

.mu-navbar .mu-menu li a {
	color: #333;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
}



/*--------------------*/
/* ABOUT US */
/*--------------------*/


#mu-about {
	background-color: #fff;
	display: inline;
	float: right;
	width: 100%;
}

.mu-about-area {
	
	display: inline;
	float: right;
	padding: 100px 0;
	width: 100%;
}

.mu-title-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.mu-about-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-right {
	margin-left: auto;
    margin-right: auto;
	display: inline;
	/* float: left; */
	margin-top: 30px;
	width: 100%;
}

/*--------------------*/
/* Experience */
/*--------------------*/

#mu-experience {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-experience-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-experience-content-area  {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-experience-content{
	margin-top: 50px;
}

.mu-experience-timeline ul li {
	list-style-type: none;
	position: relative;
	width: 2px;
	margin: 0 auto;
	padding-top: 50px;
	background-color: #ddd;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-experience-timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 70px;
	transform: translateX(-50%);
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: inherit;
}

.hover-content {
    display:none;
}
.mu-single-experience:hover .try{
	opacity: 0.3;
}
.mu-single-experience:hover .hover-content{
	display:block;
	font-size: 12px;
}
.mu-experience-timeline ul li .mu-single-experience {
	background-color: #fff;
	-webkit-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	-moz-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	position: relative;
	top: 0;
	width: 400px;
	padding: 15px;
	text-align: left;
}

.mu-experience-timeline ul li:nth-child(2n) .mu-single-experience {
	left: 50px;
}

.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience {
	left: -450px;
	text-align: right;
}

.mu-experience-timeline ul li .mu-single-experience img {
	height: 80px;
	width: 80px;
	float: left;
	border-radius: 50%;
	margin-right: 15px;
}

.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience img {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.mu-experience-timeline ul li .mu-single-experience::before {
	content: '';
	position: absolute;
	top: 23px;
	width: 0;
	height: 0;
	border-style: solid;
}

.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #fff;
}

.mu-experience-timeline ul li:nth-child(2n) .mu-single-experience::before {
	left: -16px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #fff transparent transparent;
}

.mu-experience-timeline ul li .mu-single-experience h3 {
	margin-bottom: 5px;
	font-size: 16px;
}

.mu-experience-timeline ul li .mu-single-experience p {
	margin-bottom: 5px;
}

.mu-experience-timeline ul li .mu-single-experience span {
	font-size: 12px;
}


/*--------------------*/
/* SKILLS */
/*--------------------*/


#mu-skills {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-skills-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-skills-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-single-skills {
	padding: 0 10px;
	outline: none;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.mu-skills-slider .slick-next {
	right: -60px;
}

.mu-skills-slider .slick-prev {
	left: -60px;
}

.mu-single-skills-info {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}

.mu-single-skills-info h3 {
	margin-bottom: 4px;
	font-size: 22px;
}

.mu-single-skills-info p {
	margin-bottom: 5px;
}

/*--------------------*/
/* EDUCATION */
/*--------------------*/



#mu-education {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-education-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-education-conten {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-single-education {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	text-align: center;
	position: relative;
	width: 100%;
	padding: 15px;
	overflow: hidden;
}

.mu-single-education-head {
	color: #555;
	display: inline;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mu-single-education-head {
	font-weight: bold;
	font-size: 30px;
}

.mu-single-education-head .mu-education-institution {
	font-size: 30px;
	font-weight: bold;
	line-height: 0.9;
	letter-spacing: 3px;
}

.mu-single-education-head {
	font-size: 16px;
	font-weight: 300;
	line-height: 0;
	font-style: italic;
}

.mu-single-education .mu-qualification {
	color: #555;
	font-size: 20px;
	padding: 10px 0;
}

.mu-single-education ul {
	list-style: none;
}

.mu-single-education ul li{
	list-style: none;
	color: #555;
}

/*--------------------*/
/* REGISTER */
/*--------------------*/


#mu-register::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.9;
}

.form-group {
	margin-bottom: 25px;
}

.form-control {
	height: 50px;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
}

select.form-control option{
	color: #333;
}

.form-control::-webkit-input-placeholder {
	color: #fff;
	font-size: 15px;
}

.form-control:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	font-size: 15px; 
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
	font-size: 15px;
}

.form-control:-ms-input-placeholder {  
	color: #fff;
	font-size: 15px;
}

/*--------------------*/
/* CONTACT US */
/*--------------------*/

#mu-contact {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-area {
	display: inline;
	float: left;
	padding: 100px 0 50px;
	width: 100%;
}

.mu-contact-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	padding: 0 120px;
}

.mu-contact-content{
	display: inline;
	float: left;
	margin-top: 50px;
	padding: 0 20%;
	width: 100%;
}


.mu-contact-form-area {
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-form {
	text-align: center;
}

.mu-contact-form .form-group input {
	background: transparent;
	border-radius: 5px;
	color: #333;
	font-size: 15px;
	border: 1px solid #888;
	height: 45px;
	margin-bottom: 24px;
}

.mu-contact-form .form-group textarea {
	background: transparent;
	border: 1px solid #888;
	border-radius: 5px;
	color: #333;
	font-size: 18px;
	padding: 10px;
	height: 190px;
}

.mu-contact-form .form-control:focus {
	background-color: #fff;
    outline: 0;
    box-shadow: none;    
} 

.mu-contact-form .form-control::-webkit-input-placeholder {
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #888;
	font-size: 15px; 
}

.mu-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-ms-input-placeholder {  
	color: #888;
	font-size: 15px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
	padding: 12px 40px;  
}

#form-messages {
	margin-bottom: 10px;
    background-color: #fff;
}

.success {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}

.error {
	padding: 1em;
	margin-bottom: 0.75rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid rgba(185, 74, 72, 0.3);
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}



/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-top {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media {
	display: inline;
	float: left;
	padding: 10px 0;
	width: 100%;
}

.mu-social-media a {
	border: 1px solid #19191a;
	border-radius: 50px;
	color: #19191a;
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.mu-footer-bottom {
	display: inline;
	float: left;
	width: 100%;
}


/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {

	.mu-apps-screenshot-slider .slick-prev {
		left: -25px;
	}

	.mu-apps-screenshot-slider .slick-next {
		right: -25px;
	}


@media (max-width: 991px) {	

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-navbar .mu-menu {
		margin-top: 5px;
	}

	.mu-navbar .mu-menu li a {
		font-size: 15px;
		padding: 10px 6px;
	}

	.mu-hero-featured-content h1 {
		font-size: 35px;
	}

	.mu-hero-featured-content h2 {
		font-size: 18px;
	}

	.mu-greeting {
		font-size: 14px;
	}

	.mu-experience-timeline ul li {
		margin-left: 15%;
	}

	.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience {
		left: 50px;
		text-align: left;
	}

	.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience::before {
		right: auto;
		left: -16px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #fff transparent transparent;
	}

	.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience img {
		float: left;
		margin-right: 15px;
		margin-left: 0;
	}

	.mu-title-area {
		padding: 0 50px;
	}

	.mu-contact-right {
		margin-top: 50px;
	}

	.mu-menu-btn {
		right: 5%;
	}

	.mu-skills-slider .slick-next {
		right: 0;
	}

	.mu-skills-slider .slick-prev {
		left: 0;
	}

	.mu-skills-slider .slick-next,
	.mu-skills-slider .slick-prev {
		width: 40px;
		height: 40px;
	}

	.mu-skills-slider .slick-prev::before, 
	.mu-skills-slider .slick-next::before {
		font-size: 18px;
	}

	.mu-single-skills-info h3 {
		font-size: 18px;
	}

	.mu-education-conten {
		padding: 0 5%;
	}

	.mu-single-education {
		margin-bottom: 30px;
	}


		
}

@media (max-width: 767px) {

	.mu-logo img {
		width: 150px;
	}

	
	.mu-navbar .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.mu-navbar .mu-menu {
		padding: 0 15px;
	}

		
		
}


@media (max-width: 640px){

	.mu-title-area {
		padding: 0;
	}

	.mu-contact-content {
		padding: 0 10%;
	}
				

}


@media (max-width: 480px) {

	body {
		font-size: 14px;
	}

	.mu-logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.mu-hero-featured-area {
		padding: 60px 0 60px;
	}

	.mu-hero-featured-content {
		margin-top: 20px;
	}

	.mu-hero-featured-content h1 {
		font-size: 25px;
	}

	.mu-hero-featured-content h2 {
		font-size: 14px;
	}

	.mu-greeting {
		font-size: 12px;
	}

	.mu-event-counter-area {
		margin-top: 20px;
	}

	.mu-menu-close-btn {
		right: 5%;
		top: 30px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	.mu-experience-content {
		margin-top: 30px;
	}

	.mu-experience-timeline ul li {
		margin-left: 5%;
	}

	.mu-experience-timeline ul li .mu-single-experience,
	.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience,
	.mu-experience-timeline ul li:nth-child(2n) .mu-single-experience {
		left: 30px;
		width: 350px;
	}

	.mu-experience-timeline ul li .mu-single-experience h3 {
		margin-bottom: 5px;
		font-size: 14px;
	}

	.mu-contact-content {
		padding: 0 5%;
	}
					
	
}


@media (max-width: 360px) {

	.mu-logo img {
		width: 120px;
	}

	.mu-hero-featured-area {
		padding: 30px 0 30px;
	}

	h2 {
		font-size: 25px;
	}

	.mu-experience-timeline ul li .mu-single-experience, 
	.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience, 
	.mu-experience-timeline ul li:nth-child(2n) .mu-single-experience {
		left: 30px;
		width: 280px;
	}
}



@media (max-width: 320px) {

	.mu-experience-timeline ul li .mu-single-experience, 
	.mu-experience-timeline ul li:nth-child(2n+1) .mu-single-experience, 
	.mu-experience-timeline ul li:nth-child(2n) .mu-single-experience {
		left: 30px;
		width: 250px;
	}

	h2 {
		font-size: 22px;
	}
	
	
	
}
}
